html, body {
    width: 100%;
    height: 100%;

    margin: 0;
    padding: 0;
}

body {
    padding-bottom: 65px
}

#root, #root > div {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
}

#page-container, #main-container {
    height: 100%;
}

body[data-theme="default"] {
    background-color: #ebeef4
}

body[data-theme="classy"] {
    background-color: #f2f2f2
}

body[data-theme="social"] {
    background-color: #f2f2f2
}

body[data-theme="flat"] {
    background-color: #ebeff2
}

body[data-theme="amethyst"] {
    background-color: #eeebf2
}

body[data-theme="creme"] {
    background-color: #f2efeb
}

body[data-theme="passion"] {
    background-color: #ebf1f2
}

#page-content {
}

.modal-container {
    position: relative;
}

.modal-container .modal, .modal-container .modal-backdrop {
    position: absolute;
}

.backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: transparent;
}

.foreground {
    z-index: 1050;
}

/* Helpers classes */
.full-width, .width-100, .width-100-percent {
    width: 100%
}

.half-width, .width-50, .width-50-percent {
    width: 50%
}

.full-height, .height-100, .height-100-percent {
    height: 100%
}

.half-height, .height-50, .height-50-percent {
    height: 50%
}

.width-5 {
    width: 5%
}

.width-10 {
    width: 10%
}

.width-15 {
    width: 15%
}

.width-20 {
    width: 20%
}

.width-25 {
    width: 25%
}

.width-30 {
    width: 30%
}

.width-35 {
    width: 35%
}

.width-40 {
    width: 40%
}

.width-45 {
    width: 45%
}

.width-55 {
    width: 55%
}

.width-60 {
    width: 60%
}

.width-65 {
    width: 65%
}

.width-70 {
    width: 70%
}

.width-75 {
    width: 75%
}

.width-80 {
    width: 80%
}

.width-85 {
    width: 85%
}

.width-90 {
    width: 90%
}

.width-95 {
    width: 95%
}

.width-0px {
    width: 0px
}

.width-5px {
    width: 5px
}

.width-10px {
    width: 10px
}

.width-15px {
    width: 15px
}

.width-20px {
    width: 20px
}

.width-25px {
    width: 25px
}

.width-30px {
    width: 30px
}

.width-35px {
    width: 35px
}

.width-40px {
    width: 40px
}

.width-45px {
    width: 45px
}

.width-50px {
    width: 50px
}

.width-55px {
    width: 55px
}

.width-60px {
    width: 60px
}

.width-65px {
    width: 65px
}

.width-70px {
    width: 70px
}

.width-75px {
    width: 75px
}

.width-80px {
    width: 80px
}

.width-85px {
    width: 85px
}

.width-90px {
    width: 90px
}

.width-95px {
    width: 95px
}

.width-100px {
    width: 100px
}

.width-105px {
    width: 105px
}

.width-110px {
    width: 110px
}

.width-115px {
    width: 115px
}

.width-120px {
    width: 120px
}

.width-125px {
    width: 125px
}

.width-130px {
    width: 130px
}

.width-135px {
    width: 135px
}

.width-140px {
    width: 140px
}

.width-145px {
    width: 145px
}

.width-150px {
    width: 150px
}

.width-155px {
    width: 155px
}

.width-160px {
    width: 160px
}

.width-165px {
    width: 165px
}

.width-170px {
    width: 170px
}

.width-175px {
    width: 175px
}

.width-180px {
    width: 180px
}

.width-185px {
    width: 185px
}

.width-190px {
    width: 190px
}

.width-195px {
    width: 195px
}

.width-200px {
    width: 200px
}

.width-205px {
    width: 205px
}

.width-210px {
    width: 210px
}

.width-215px {
    width: 215px
}

.width-220px {
    width: 220px
}

.width-225px {
    width: 225px
}

.width-230px {
    width: 230px
}

.width-235px {
    width: 235px
}

.width-240px {
    width: 240px
}

.width-245px {
    width: 245px
}

.width-250px {
    width: 250px
}

.width-255px {
    width: 255px
}

.width-260px {
    width: 260px
}

.width-265px {
    width: 265px
}

.width-270px {
    width: 270px
}

.width-275px {
    width: 275px
}

.width-280px {
    width: 280px
}

.width-285px {
    width: 285px
}

.width-290px {
    width: 290px
}

.width-295px {
    width: 295px
}

.width-300px {
    width: 300px
}

.width-305px {
    width: 305px
}

.width-310px {
    width: 310px
}

.width-315px {
    width: 315px
}

.width-320px {
    width: 320px
}

.width-325px {
    width: 325px
}

.width-330px {
    width: 330px
}

.width-335px {
    width: 335px
}

.width-340px {
    width: 340px
}

.width-345px {
    width: 345px
}

.width-350px {
    width: 350px
}

.width-355px {
    width: 355px
}

.width-360px {
    width: 360px
}

.width-365px {
    width: 365px
}

.width-370px {
    width: 370px
}

.width-375px {
    width: 375px
}

.width-380px {
    width: 380px
}

.width-385px {
    width: 385px
}

.width-390px {
    width: 390px
}

.width-395px {
    width: 395px
}

.width-400px {
    width: 400px
}

.width-405px {
    width: 405px
}

.width-410px {
    width: 410px
}

.width-415px {
    width: 415px
}

.width-420px {
    width: 420px
}

.width-425px {
    width: 425px
}

.width-430px {
    width: 430px
}

.width-435px {
    width: 435px
}

.width-440px {
    width: 440px
}

.width-445px {
    width: 445px
}

.width-450px {
    width: 450px
}

.width-455px {
    width: 455px
}

.width-460px {
    width: 460px
}

.width-465px {
    width: 465px
}

.width-470px {
    width: 470px
}

.width-475px {
    width: 475px
}

.width-480px {
    width: 480px
}

.width-485px {
    width: 485px
}

.width-490px {
    width: 490px
}

.width-495px {
    width: 495px
}

.width-500px {
    width: 500px
}

.height-5 {
    height: 5%
}

.height-10 {
    height: 10%
}

.height-15 {
    height: 15%
}

.height-20 {
    height: 20%
}

.height-25 {
    height: 25%
}

.height-30 {
    height: 30%
}

.height-35 {
    height: 35%
}

.height-40 {
    height: 40%
}

.height-45 {
    height: 45%
}

.height-55 {
    height: 55%
}

.height-60 {
    height: 60%
}

.height-65 {
    height: 65%
}

.height-70 {
    height: 70%
}

.height-75 {
    height: 75%
}

.height-80 {
    height: 80%
}

.height-85 {
    height: 85%
}

.height-90 {
    height: 90%
}

.height-95 {
    height: 95%
}

.height-0px {
    height: 0px
}

.height-5px {
    height: 5px
}

.height-10px {
    height: 10px
}

.height-15px {
    height: 15px
}

.height-20px {
    height: 20px
}

.height-25px {
    height: 25px
}

.height-30px {
    height: 30px
}

.height-35px {
    height: 35px
}

.height-40px {
    height: 40px
}

.height-45px {
    height: 45px
}

.height-50px {
    height: 50px
}

.height-55px {
    height: 55px
}

.height-60px {
    height: 60px
}

.height-65px {
    height: 65px
}

.height-70px {
    height: 70px
}

.height-75px {
    height: 75px
}

.height-80px {
    height: 80px
}

.height-85px {
    height: 85px
}

.height-90px {
    height: 90px
}

.height-95px {
    height: 95px
}

.height-100px {
    height: 100px
}

.height-105px {
    height: 105px
}

.height-110px {
    height: 110px
}

.height-115px {
    height: 115px
}

.height-120px {
    height: 120px
}

.height-125px {
    height: 125px
}

.height-130px {
    height: 130px
}

.height-135px {
    height: 135px
}

.height-140px {
    height: 140px
}

.height-145px {
    height: 145px
}

.height-150px {
    height: 150px
}

.height-155px {
    height: 155px
}

.height-160px {
    height: 160px
}

.height-165px {
    height: 165px
}

.height-170px {
    height: 170px
}

.height-175px {
    height: 175px
}

.height-180px {
    height: 180px
}

.height-185px {
    height: 185px
}

.height-190px {
    height: 190px
}

.height-195px {
    height: 195px
}

.height-200px {
    height: 200px
}

.height-205px {
    height: 205px
}

.height-210px {
    height: 210px
}

.height-215px {
    height: 215px
}

.height-220px {
    height: 220px
}

.height-225px {
    height: 225px
}

.height-230px {
    height: 230px
}

.height-235px {
    height: 235px
}

.height-240px {
    height: 240px
}

.height-245px {
    height: 245px
}

.height-250px {
    height: 250px
}

.height-255px {
    height: 255px
}

.height-260px {
    height: 260px
}

.height-265px {
    height: 265px
}

.height-270px {
    height: 270px
}

.height-275px {
    height: 275px
}

.height-280px {
    height: 280px
}

.height-285px {
    height: 285px
}

.height-290px {
    height: 290px
}

.height-295px {
    height: 295px
}

.height-300px {
    height: 300px
}

.height-305px {
    height: 305px
}

.height-310px {
    height: 310px
}

.height-315px {
    height: 315px
}

.height-320px {
    height: 320px
}

.height-325px {
    height: 325px
}

.height-330px {
    height: 330px
}

.height-335px {
    height: 335px
}

.height-340px {
    height: 340px
}

.height-345px {
    height: 345px
}

.height-350px {
    height: 350px
}

.height-355px {
    height: 355px
}

.height-360px {
    height: 360px
}

.height-365px {
    height: 365px
}

.height-370px {
    height: 370px
}

.height-375px {
    height: 375px
}

.height-380px {
    height: 380px
}

.height-385px {
    height: 385px
}

.height-390px {
    height: 390px
}

.height-395px {
    height: 395px
}

.height-400px {
    height: 400px
}

.height-405px {
    height: 405px
}

.height-410px {
    height: 410px
}

.height-415px {
    height: 415px
}

.height-420px {
    height: 420px
}

.height-425px {
    height: 425px
}

.height-430px {
    height: 430px
}

.height-435px {
    height: 435px
}

.height-440px {
    height: 440px
}

.height-445px {
    height: 445px
}

.height-450px {
    height: 450px
}

.height-455px {
    height: 455px
}

.height-460px {
    height: 460px
}

.height-465px {
    height: 465px
}

.height-470px {
    height: 470px
}

.height-475px {
    height: 475px
}

.height-480px {
    height: 480px
}

.height-485px {
    height: 485px
}

.height-490px {
    height: 490px
}

.height-495px {
    height: 495px
}

.height-500px {
    height: 500px
}

.margin-0 {
    margin: 0
}

.margin-5 {
    margin: 5px
}

.margin-10 {
    margin: 10px
}

.margin-15 {
    margin: 15px
}

.margin-20 {
    margin: 20px
}

.margin-25 {
    margin: 25px
}

.margin-30 {
    margin: 30px
}

.margin-35 {
    margin: 35px
}

.margin-40 {
    margin: 40px
}

.margin-45 {
    margin: 45px
}

.margin-50 {
    margin: 50px
}

.margin-top-0 {
    margin-top: 0
}

.margin-top-5 {
    margin-top: 5px
}

.margin-top-10 {
    margin-top: 10px
}

.margin-top-15 {
    margin-top: 15px
}

.margin-top-20 {
    margin-top: 20px
}

.margin-top-25 {
    margin-top: 25px
}

.margin-top-30 {
    margin-top: 30px
}

.margin-top-35 {
    margin-top: 35px
}

.margin-top-40 {
    margin-top: 40px
}

.margin-top-45 {
    margin-top: 45px
}

.margin-top-50 {
    margin-top: 50px
}

.margin-left-0 {
    margin-left: 0
}

.margin-left-5 {
    margin-left: 5px
}

.margin-left-10 {
    margin-left: 10px
}

.margin-left-15 {
    margin-left: 15px
}

.margin-left-20 {
    margin-left: 20px
}

.margin-left-25 {
    margin-left: 25px
}

.margin-left-30 {
    margin-left: 30px
}

.margin-left-35 {
    margin-left: 35px
}

.margin-left-40 {
    margin-left: 40px
}

.margin-left-45 {
    margin-left: 45px
}

.margin-left-50 {
    margin-left: 50px
}

.margin-right-0 {
    margin-right: 0
}

.margin-right-5 {
    margin-right: 5px
}

.margin-right-10 {
    margin-right: 10px
}

.margin-right-15 {
    margin-right: 15px
}

.margin-right-20 {
    margin-right: 20px
}

.margin-right-25 {
    margin-right: 25px
}

.margin-right-30 {
    margin-right: 30px
}

.margin-right-35 {
    margin-right: 35px
}

.margin-right-40 {
    margin-right: 40px
}

.margin-right-45 {
    margin-right: 45px
}

.margin-right-50 {
    margin-right: 50px
}

.margin-bottom-0 {
    margin-bottom: 0
}

.margin-bottom-5 {
    margin-bottom: 5px
}

.margin-bottom-10 {
    margin-bottom: 10px
}

.margin-bottom-15 {
    margin-bottom: 15px
}

.margin-bottom-20 {
    margin-bottom: 20px
}

.margin-bottom-25 {
    margin-bottom: 25px
}

.margin-bottom-30 {
    margin-bottom: 30px
}

.margin-bottom-35 {
    margin-bottom: 35px
}

.margin-bottom-40 {
    margin-bottom: 40px
}

.margin-bottom-45 {
    margin-bottom: 45px
}

.margin-bottom-50 {
    margin-bottom: 50px
}

.padding-0 {
    padding: 0
}

.padding-5 {
    padding: 5px
}

.padding-10 {
    padding: 10px
}

.padding-15 {
    padding: 15px
}

.padding-20 {
    padding: 20px
}

.padding-25 {
    padding: 25px
}

.padding-30 {
    padding: 30px
}

.padding-35 {
    padding: 35px
}

.padding-40 {
    padding: 40px
}

.padding-45 {
    padding: 45px
}

.padding-50 {
    padding: 50px
}

.padding-top-0 {
    padding-top: 0
}

.padding-top-5 {
    padding-top: 5px
}

.padding-top-10 {
    padding-top: 10px
}

.padding-top-15 {
    padding-top: 15px
}

.padding-top-20 {
    padding-top: 20px
}

.padding-top-25 {
    padding-top: 25px
}

.padding-top-30 {
    padding-top: 30px
}

.padding-top-35 {
    padding-top: 35px
}

.padding-top-40 {
    padding-top: 40px
}

.padding-top-45 {
    padding-top: 45px
}

.padding-top-50 {
    padding-top: 50px
}

.padding-left-0 {
    padding-left: 0
}

.padding-left-5 {
    padding-left: 5px
}

.padding-left-10 {
    padding-left: 10px
}

.padding-left-15 {
    padding-left: 15px
}

.padding-left-20 {
    padding-left: 20px
}

.padding-left-25 {
    padding-left: 25px
}

.padding-left-30 {
    padding-left: 30px
}

.padding-left-35 {
    padding-left: 35px
}

.padding-left-40 {
    padding-left: 40px
}

.padding-left-45 {
    padding-left: 45px
}

.padding-left-50 {
    padding-left: 50px
}

.padding-right-0 {
    padding-right: 0
}

.padding-right-5 {
    padding-right: 5px
}

.padding-right-10 {
    padding-right: 10px
}

.padding-right-15 {
    padding-right: 15px
}

.padding-right-20 {
    padding-right: 20px
}

.padding-right-25 {
    padding-right: 25px
}

.padding-right-30 {
    padding-right: 30px
}

.padding-right-35 {
    padding-right: 35px
}

.padding-right-40 {
    padding-right: 40px
}

.padding-right-45 {
    padding-right: 45px
}

.padding-right-50 {
    padding-right: 50px
}

.padding-bottom-0 {
    padding-bottom: 0
}

.padding-bottom-5 {
    padding-bottom: 5px
}

.padding-bottom-10 {
    padding-bottom: 10px
}

.padding-bottom-15 {
    padding-bottom: 15px
}

.padding-bottom-20 {
    padding-bottom: 20px
}

.padding-bottom-25 {
    padding-bottom: 25px
}

.padding-bottom-30 {
    padding-bottom: 30px
}

.padding-bottom-35 {
    padding-bottom: 35px
}

.padding-bottom-40 {
    padding-bottom: 40px
}

.padding-bottom-45 {
    padding-bottom: 45px
}

.padding-bottom-50 {
    padding-bottom: 50px
}

form .form-error-message {
    padding: 20px 20px 0 20px;
    margin-bottom: 0
}

form.form-horizontal .form-error-message {
    padding: 0;
    margin-bottom: 20px
}

.react-bs-table .table-header-wrapper .table {
    margin-bottom: 0
}

.table .show-when-row-enter-actions a,
.table .show-when-row-enter-actions a.action,
.table .show-when-row-enter-action a,
.table .show-when-row-enter-action a.action,
.table .hover-action a,
.table .hover-action a.action,
.table .hover-actions a,
.table .hover-actions a.action {
    display: none
}

.table .show-when-row-enter-actions .always-display,
.table .show-when-row-enter-action .always-display,
.table .hover-action .always-display,
.table .hover-actions .always-display {
    display: block
}

.table tr:hover .show-when-row-enter-actions a,
.table tr:hover .show-when-row-enter-actions .action,
.table tr:hover .show-when-row-enter-action a,
.table tr:hover .show-when-row-enter-action .action,
.table tr:hover .hover-action a,
.table tr:hover .hover-action .action,
.table tr:hover .hover-actions a,
.table tr:hover .hover-actions a.action {
    display: block
}

.table tr.inactive {
    opacity: 0.5;
    text-decoration: line-through;
    text-decoration-color: #ddd;
}

.table tr.inactive .main-actions a,
.table tr.inactive .main-actions .action,
.table tr.inactive .main-action a,
.table tr.inactive .main-action .action,
.table tr.inactive .row-actions a,
.table tr.inactive .row-actions .action,
.table tr.inactive .row-action a,
.table tr.inactive .row-action .action {
    display: none
}

.text-line-through {
    text-decoration: line-through;
}

div.inline-block {
    display: inline-block;
    width: 100%
}

.transition-default {
    -webkit-transition: all 200ms ease-out;
    -moz-transition: all 200ms ease-out;
    -ms-transition: all 200ms ease-out;
    -o-transition: all 200ms ease-out;
    transition: all 200ms ease-out;
}

#header-navbar, .page-heading-wrapper {
    border-bottom: #5c90d2 solid 1px
}

footer {
    border-top: #5c90d2 solid 1px
}

#header-navbar h1 {
    font-size: 28px;
    font-weight: normal;
}

footer {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
}

#sidebar .side-header .app-icon {
    font-size: 2em;
}

#sidebar:hover .side-header .app-icon, .sidebar-o-xs .side-header .app-icon {
    -moz-transform: rotate(130deg);
    -webkit-transform: rotate(130deg);
    -o-transform: rotate(130deg);
    -ms-transform: rotate(130deg);
    transform: rotate(130deg);
}

#sidebar .side-header span {
    margin-left: 3px;
}

.block .block-header {
    font-weight: normal;
}

.block .block-title {
    text-transform: none;
}

#app-flash-log {
    margin: 0;
    padding: 0 10px 0 0;
}

#app-flash-log div {
    display: inline-block;
    margin-left: 10px
}

.side-header.side-content.bg-white-op {
    padding-left: 12px
}

#copyrights {
    margin-top: 10px;
    line-height: 34px;
    text-align: center;
    width: 100%;
}

.help-icon, .help-icon:hover {
    color: #646464;
    outline: none;
}

.help-icon:focus {
    color: #3169b1;
    outline: none;
}

.sub-header {
    font-weight: 300 !important;
    border-bottom: #ddd 1px dashed;
    padding: 5px 0;
    margin-bottom: 20px;
}

.sub-header .block-options {
    font-size: 14px;
}

.sub-header .block-options a {
    line-height: 30px;
}

.tab-content .block .block-header {
    border-bottom: 1px solid #e9e9e9
}

@media screen and (min-width: 768px) {
    #copyrights {
        margin-top: 0px;
        text-align: right;
        width: auto;
    }

    #page-content-sidebar {
        position: fixed;
        top: 50px;
        left: 0px;
    }
}

@media screen and (min-width: 992px) {
    .sidebar-l.sidebar-o.sidebar-mini footer {
        left: 60px
    }
}
